@model IEnumerable<Compubuilt.Models.Order>

@{
    ViewData["Title"] = "Order History";
}

<div class="container">

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatusType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromotionalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery.DeliveryType.DeliveryTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatusType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.PaymentType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionalCode.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValue)
            </td>
        </tr>
}
    </tbody>
</table>
</div>