@model Compubuilt.Models.PromotionalCode

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PromotionalCode</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseLimitPerUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseLimitPerUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PromotionalCodeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
